$style: "fourth";
.#{$style} {
    @include flex(center, center, column);
    background: rgba(81, 152, 180, 0.05);
    padding: 60px 0 66px;
    margin-bottom: 120px;
    &__title{
        @include text($H380, 700, $dark-blue-text){
            line-height: 54px;
        }
        margin-bottom: 5px;
        span{
            color: $blue-text-title;
        }
    }
    &__subtitle{
        max-width: 512px;
        @include text($H60, 300, $dark-blue-text){
            text-align: center;
        }
    }
    &__list{
        @include flex(center, center);
    }
    &__item{
        &:not(:last-child){
            margin-right: 100px;
        }
    }
}