$style: "main";
.#{$style}{
    &__card{
        @include flex(center, flex-start);
    }
    &__card-image{
        margin-right: 58px;
    }
    &__title{
        @include text($H240, bold, $dark){
            font-family: 'Oswald', sans-serif;
            letter-spacing: 1.2px;
        };
        margin-bottom: 19px;
    }
    &__id{
        @include text($H0, normal, $black){
            opacity: .7;
            letter-spacing: 0.5px;
        };
        margin-bottom: 25px;
    }
    &__price{
        margin-bottom: 25px;
        @include text($H240, bold);
    }
    &__old-price{
        color: $black;
        margin-right: 20px;
        text-decoration: line-through;
    }
    &__new-price{
        color: $lipstick;
    }
    &__snape{
        @include flex(flex-start, center);
        margin-bottom: 30px;
    }
    &__rating{
        @include flex;
        margin-right: 16px;
    }
    &__rating-item{

    }
    &__share-it{
        @include text($H80, bold, $bluish){
            letter-spacing: .45px;
        };
        cursor: pointer;
    }
    &__subtitle{
        @include text($H60, bold, $black){
            letter-spacing: .35px;
        };
        margin-bottom: 14px;
    }
    &__text{
        @include text($H20, 300, $black){
            letter-spacing: .3px;
        };
        margin-bottom: 26px;
    }
    &__size-and-color{
        margin-bottom: 21px;
    }
    &__size{
        @include flex(flex-start, center);
        margin-bottom: 12px;
    }
    &__size input[type=radio]:checked + div {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
        @include transition;
    }
    &__size-title{
        margin-right: 36px;
    }
    &__size-title, &__color-title{
        @include text($H40, bold, $black){
            letter-spacing: .7px;
            text-transform: uppercase;
        };
    }
    &__size-list, &__color-list{
        @include flex(flex-start, center);
    }
    &__size-item{
        margin-right: 13px;
        &:last-child{
            margin-right: 0;
        }
        div{
            @include size(38px);
            cursor: pointer;
            border: 1px solid $grey;
            border-radius: 50%;
            position: relative;
        }
    }
    &__size-span{
        @include text($H60, bold, $black){
            text-transform: uppercase;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    input{
        display: none;
    }
    &__color{
        @include flex(flex-start, center);
        margin-bottom: 21px;
        // input[type=radio]:checked + div {
        //     box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
        //     @include transition;
        // }
    }

    &__color input[type=radio]:checked + div {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
        @include transition;
    }
    &__color-title{
        margin-right: 15px;
    }
    &__color-item{
        margin-right: 7px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__color-div{
        @include size(43px);
        border-radius: 50%;
    }
    &__btn{
        @include text($H40, bold, $black){
            letter-spacing: .7px;
            text-transform: uppercase;
        };
        padding: 17px 57px 17px 56px;
        background-color: $light-teal;
        outline: none;
        border: none;
        border-radius: 29px;
        cursor: pointer;
    }
}